
body {
     background-color: black;
}

.container {
    width: 50%;
    margin-left: 25%;
}

h1{
    font-size: 3rem;    
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
p {
    
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    
}

img {
    width: 100%;
    height: auto;
    border: 5px solid white;
}

.motivational-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}